{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            ">0.2%",
            "not dead",
            "not op_mini all"
          ]
        },
        "useBuiltIns": "usage",
        "corejs": 3,
        "modules": false,
        "loose": true
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic",
        "development": true
      }
    ],
    [
      "@babel/preset-typescript",
      {
        "isTSX": true,
        "allExtensions": true,
        "allowNamespaces": true,
        "allowDeclareFields": true,
        "onlyRemoveTypeImports": true
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3,
        "helpers": true,
        "regenerator": true,
        "useESModules": true
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-private-methods",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-private-property-in-object",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-nullish-coalescing-operator",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-optional-chaining",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-numeric-separator",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-throw-expressions",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-logical-assignment-operators",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-partial-application",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-pipeline-operator",
      {
        "proposal": "minimal"
      }
    ],
    [
      "@babel/plugin-proposal-do-expressions",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-function-bind",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-export-namespace-from",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-export-default-from",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-dynamic-import",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-json-strings",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-unicode-property-regex",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-async-generator-functions",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-object-rest-spread",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-optional-catch-binding",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-unicode-escapes",
      {
        "loose": true
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "displayName": true,
            "ssr": true,
            "preprocess": true
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "displayName": false,
            "ssr": true,
            "preprocess": true,
            "minify": true,
            "transpileTemplateLiterals": true
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
} 